/* =========================
   TAMAGOTCHI CUSTOM CSS
========================= */


/* PLAYER SELECTION */

.player{

background:rgba(255,255,255,0.12);

border:2px solid rgba(255,255,255,0.25);

padding:30px;

border-radius:30px;

text-align:center;

cursor:pointer;

transition:0.4s;

color:white;

backdrop-filter:blur(10px);

box-shadow:0 10px 30px rgba(0,0,0,.2);

}



.player:hover{

transform:scale(1.08);

box-shadow:0 0 40px #a855f7;

}




.player img{

width:180px;

height:180px;

object-fit:contain;

margin:auto;

}





/* GAME ZONES */

.zone{


height:120px;

border-radius:25px;

font-size:30px;

font-weight:900;

color:white;

transition:.3s;

cursor:pointer;


}



.zone:hover{


transform:scale(1.05);


}





/* STATS CARD */


.stat{


background:white;

padding:20px;

border-radius:20px;

font-size:30px;

text-align:center;

font-weight:bold;


}





/* LEFT RIGHT ARROWS */


.arrow{


font-size:50px;

color:white;

background:rgba(255,255,255,.15);

border-radius:50%;

width:80px;

height:80px;

cursor:pointer;

transition:.3s;

display:flex;

align-items:center;

justify-content:center;


}




.arrow:hover{


transform:scale(1.3);

background:white;

color:#8b5cf6;


}






/* PROGRESS BARS */


.bar{


height:18px;

background:#ddd;

border-radius:20px;

overflow:hidden;

width:100%;


}



.bar div{


height:100%;

border-radius:20px;

transition:.5s;


}






/* GAME BUTTONS */


.btn{


background:white;

padding:18px;

border-radius:20px;

font-weight:900;

font-size:18px;

cursor:pointer;

transition:.3s;

box-shadow:0 8px 20px rgba(0,0,0,.15);


}





.btn:hover{


transform:scale(1.05);

background:#8b5cf6;

color:white;

box-shadow:0 0 25px #8b5cf6;


}